// React Bootstrap
@import "~bootstrap/scss/bootstrap";

//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");

//Styles
@import "./bases/bases";
@import "./bases/button";
@import "./bases/variable";

@import "./components/topbar";
@import "./components/sidebar";
@import "./components/layout";

@import "./pages/login";

.employee-list,
.patient-list,
.patient,
.new-patient {
	background-color: white;
	width: 98%;
	max-width: 100rem;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.new-patient {
	height: 88vh;
	overflow: auto;
}

.patient-detail {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0;
}
.patients-table-header,
.employees-table-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: $colorPrimary;
	border-radius: 10rem;
	align-items: center;
	min-height: 3rem;
	padding: 0;

	& h5 {
		font-size: 1.6rem;
		color: white;
		margin: auto;
	}
}

.patient-container-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100rem;
	margin: 0 auto;

	@media only screen and (min-width: 56.25em) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}
.patient-title {
	margin-right: auto;
	margin-left: 1rem;
	padding: 3rem 0 1rem;
	color: $colorSecondary;
	width: 100%;
}
.btn-new-patient-container,
.btn-new-employee-container {
	display: flex;
	margin-right: auto;
}
.btn-table,
.btn-table-more {
	margin-left: auto;
	margin-bottom: 1.5rem;
	width: 15rem;
	height: 3.5rem;
	background-color: white;
	color: $colorSecondary;
	border: 1px solid $colorSecondary;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		cursor: pointer;
		outline: none !important;
	}
}
.btn-table-more {
	margin: 0.5rem;
	width: 10rem !important;
	height: 3rem;
}

.patient-table-content {
	margin: 0;
	text-align: left;
	font-size: 1.6rem;
}

.logo-text {
	font-size: 1.4rem;
	margin: auto 0;
}

.hr {
	margin: 0.3rem;
}
.title {
	color: $colorPrimary;
	text-align: center;
}
.cl-left {
	float: left;
}
.cl-right {
	float: right;
}
.form-new-patient {
	width: 100%;
	padding: 3rem 0 0;
	font-size: $bodyFontSize-xsm;
	color: $colorSecondary;
}

.input-table {
	width: 100%;
	height: 3rem;
	padding: 0rem 2rem;
	margin: 0 0 1.5rem;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 1rem;
}
.new-patient-btn-save {
	width: 9rem;
	height: 3.2rem;
	background-color: white;
	color: $colorSecondary;
	border: 1px solid $colorSecondary;
	margin-right: 2rem;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		cursor: pointer;
		outline: none !important;
	}
}
.edit-profile-container-btn,
.user-account-container-btn {
	display: flex;
	justify-content: center;
	margin: 3rem 0 0;
}
.edit-profile-register-container-btn,
.register-container-btn {
	display: flex;
	justify-content: center;
	padding-bottom: 0;
}
.edit-profile-register-container-btn {
	margin: 1rem 0 4rem 0;
}
.edit-user,
.register {
	max-width: 120rem;
	margin: 3rem auto;
	display: -moz-box;
	display: flex;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-moz-box-pack: center;
	justify-content: center;
	height: 93vh;
}
.edit-user {
	margin: -3rem auto;
}
.register-title {
	text-align: center;

	h1 {
		color: $colorPrimary;
		& span {
			color: $colorSecondary;
		}
	}

	h4 {
		color: grey;
	}
}
.register-subtitle {
	margin: 1rem 0;
	text-align: center;
}
.edit-user-form,
.register-form {
	color: $colorPrimary;
	font-size: $bodyFontSize-sm;
	height: 66rem;
}

.general-info,
.general-info-edit {
	background-color: rgba(204, 204, 204, 0.2);
	border-radius: 1.5rem;
	padding: 3rem;
	padding-top: 12rem;

	& h4 {
		color: $colorPrimary;
		margin-bottom: 2rem;
		font-weight: 600;
	}
}
.general-info-edit {
	margin-top: 0vh;
	background-color: white;

	@media only screen and (min-width: 47em) and (min-height: 57em) {
		margin-top: 22vh;
	}
	@media only screen and (min-width: 81.25em) and (min-height: 62.5em) {
		margin-top: 23vh;
	}
	@media only screen and (min-width: 75em) and (max-height: 57em) {
		margin-top: 5vh;
	}
	@media only screen and (min-width: 75em) and (max-height: 56em) {
		margin-top: 15vh;
	}
}
.general-info-form {
	display: flex;
	justify-content: space-between;
}
.general-info-form-row {
	display: flex;

	& input,
	& select {
		width: 100%;
		height: 3.5rem;
		padding: 0rem 2rem;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius: 1rem;
	}
}

.general-info-container-btn-next {
	display: flex;
	-moz-box-pack: end;
	justify-content: flex-end;
	margin-top: 9rem;
}
.general-info-btn-next {
	min-width: 14rem;
	width: 14rem;
	height: 3.5rem;
	max-height: 4rem;
	background-color: white;
	color: $colorPrimary;
	border: 1px solid $colorPrimary;
	margin-right: 2rem;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		font-weight: 600;
		cursor: pointer;
		outline: none !important;
	}
}
.edit-profile,
.edit-user-submit,
.register-submit {
	color: black;

	h4 {
		color: $colorSecondary;
	}
	h5 {
		color: $colorPrimary;
		font-weight: 600;
		margin: 2rem 0;
	}
}
.register-submit {
	height: 88vh;
	justify-content: center;
	align-items: center;

	background-color: white;
	width: 98%;
	max-width: 100rem;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 0 auto;
	display: -moz-box;
	display: flex;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	flex-wrap: nowrap;
}
.container-submit {
	height: 75vh;
	overflow: auto;
}
.skill-container,
.address-container {
	flex-wrap: wrap;
	display: flex;
}
.user-account {
	max-width: 100rem;
	margin: 0 auto;
	width: 98%;
	background-color: white;
	border-radius: 2rem;
	padding: 3rem;
	font-size: 1.6rem;
	color: black;
	padding: 1rem;

	h4 {
		color: $colorSecondary;
	}
	h5 {
		color: $colorPrimary;
		font-weight: 600;
		margin: 2rem 0;
	}
}
.bg-white {
	background-color: white;
}
.certification-form,
.courses-form,
.education-form,
.workRef-form,
.personal-ref-form,
.workexp-form,
.language-form,
.skill-form {
	width: 100%;
	margin: 0 auto;
	height: 66rem;
	background-color: rgba(204, 204, 204, 0.2);
	border-radius: 1.5rem;
	padding: 3rem;

	h4 {
		color: $colorPrimary;
		margin-bottom: 1rem;
		font-weight: 600;
	}
	textarea {
		height: 9rem;
	}

	.textarea-skills {
		height: 10rem;
	}

	label {
		font-weight: 600;
	}

	input {
		height: 3.5rem;
		padding: 0rem 2rem;
		margin: 0 0 1.5rem;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius: 1rem;
	}

	p {
		margin-bottom: 0 !important;
	}
}
.language-form {
	height: 28rem;
}
.skill-form {
	height: 25rem;
}

.end-date {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 1rem 0;

	& input {
		width: 50%;
		margin: 0;
		border-radius: 1.5rem;
		height: 3.5rem;
	}
}

.current-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 600;

	p {
		margin-right: 2rem;
	}
}
.error {
	color: red;
	text-align: center;
	font-size: 1.6rem;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.btn-container-one-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.mt2 {
	margin-top: 2.4rem !important;
}
.mt4 {
	margin-top: 4.5rem !important;
}
.mt7 {
	margin-top: 2.5rem !important;
}

.btn-workexp,
.register-btn-save,
.edit-user-btn-save,
.btn-logro,
.btn-course,
.btn-studies,
.btn-certification,
.btn-idioma,
.btn-skill,
.btn-referencias {
	width: 27rem;
	height: 3.5rem;
	background-color: white;
	color: $colorSecondary;
	border: 1px solid $colorSecondary;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		font-weight: 600;
		cursor: pointer;
		outline: none !important;
	}
}
.register-btn-save,
.edit-user-btn-save {
	width: 15rem;
}
.btn-logro {
	width: 15rem;
	@media only screen and (min-width: 62.5em) and (max-width: 69em) and (min-height: 75em) {
		margin-bottom: 2rem;
	}
}
.btn-studies {
	width: 15rem;
	margin-top: 2rem;
}
.btn-course {
	width: 15rem;
	margin-top: 2rem;
}
.btn-certification {
	width: 20rem;
	margin-top: 2rem;
}
.btn-idioma {
	width: 15rem;
	margin-top: 2rem;
}
.btn-skill {
	width: 17rem;
	margin-top: 2rem;
}
.btn-referencias {
	width: 20rem;
	margin-top: 2rem;
}
.btns-form-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
.btn-next,
.btn-back {
	min-width: 14rem;
	width: 14rem;
	height: 4rem;
	max-height: 3.5rem;
	background-color: white;
	color: $colorPrimary;
	border: 1px solid $colorPrimary;
	margin-right: 2rem;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		font-weight: 600;
		cursor: pointer;
		outline: none !important;
	}
}
.btn-course-delete,
.btn-certification-delete,
.btn-education-delete,
.btn-workexp-delete,
.btn-workexp-delete-small,
.btn-workRef-delete-small,
.btn-personal-ref-delete-small,
.btn-skill-delete-small,
.btn-language-delete-small {
	width: 9rem;
	height: 3.5rem;
	background-color: white;
	color: $colorSecondary;
	border: 1px solid $colorSecondary;

	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		border-radius: 3rem;
		transition: all 0.2s;
		position: relative;
		font-size: $bodyFontSize-xsm;
		font-weight: 600;
		cursor: pointer;
		outline: none !important;
	}
}
.btn-workexp-delete-small {
	height: 3rem;
}
.summary,
.summary-skills {
	padding: 2rem;
	text-align: justify;
	color: $colorPrimary;
	height: auto;
	min-height: auto;
	max-height: auto;
	border-radius: 1.5rem;
	border: 2px solid #ccc;
	overflow: auto;

	@media only screen and (min-width: 48em) {
		height: 14rem;
		min-height: 14rem;
		max-height: 14rem;
	}
	@media only screen and (min-width: 62.5em) {
		height: 50rem;
		min-height: 50rem;
		max-height: 50rem;
	}
	@media only screen and (min-width: 75em) and (min-height: 50em) {
		height: 50rem;
		min-height: 50rem;
		max-height: 50rem;
	}

	h4 {
		color: $colorPrimary;
		margin-bottom: 2rem;
		font-weight: 600;
	}
}
.summary-skills {
	height: 16rem;
	min-height: 16rem;
	max-height: 16rem;
}
.summary-period-skills {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.summary-period {
	display: flex;
	justify-content: space-between;
}
.a-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 1rem 0;

	& input {
		width: 40%;
		margin: 0;
		border-radius: 1.5rem;
		height: 3.5rem;
	}
}
